

body{
  margin:0;
  background-color: #519259;
  text-align:center;
  font-family: 'Merriweather', serif;
  align-items:center;
  /*font-family: "Lucida Console", "Courier New", monospace;*/
}
.bottom-container{                                                      /**/
  width:100%;
  margin:0 auto 0 auto;
  max-width:700px;
  min-width: 500px;

}
.below-cloud{
  height: 50px;
  width:100px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  top:500px;
  left:300px;

}

.cloud-bottom{
  height: 50px;
  width: 100px;
  position: absolute;
  top:130px;
  right:150px;
}
.cloud-bottomone{
  height: 70px;
  width: 100px;
  position: absolute;
  top:450px;
  left:150px;

}
.cloud-bottomtwo{
  height: 70px;
  width: 100px;
  position: relative;
  top: 600px;
  left: 150px;
}
.cloud-bottomthree{
  height: 50px;
  width: 100px;
  position: relative;
  top: 800px;
  right: 700px;


}
.cloud-top{
  height: 50px;
  width:100px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  top: 70px;
  right: 700px;
}
.cover{
  width: 100%;
  padding: 0px;

}


img.Farm-image{
  height: 400px;
  width: 400px;
  position: relative;
  top:50%;
  /*right:316px;*/
  left: 12.1875%;



}
.false-container{                                                         /**/
  width:100%;
  margin:0 auto;
  height:400px;
  max-width:700px;
  min-width: 500px;


}

.middle-container{                                                    /**/
  /*margin-top: 800px;*/
  width:100%;
  margin:0 auto;
  max-width:700px;
  min-width: 500px;



}
.SkillsImg{
  display: auto;
  height: 50px;
  width: 50px;
}

div.top-container{                                                      /**/
  width:100%;
  margin:0 auto 0 auto;
  border: 10px solid magenta;
  height:590px;
  max-width:700px;
  min-width: 500px;

}
.Tittle-text{
  margin: 0 auto 0 auto;
  position: relative;
  top:160px;

}
h1{
  color:#CFFFDC;
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;

}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
hr{

}
#underNameTitle{
    position: relative;
    bottom: 85px;
    font-size: 1.87em;
}
.secFarm-image{
      margin: 0 auto 0 auto;
      height: 200px;
      width: 200px;
      position: absolute;
      top: 800px;
      right: 200px;
      display:none;
}
p{
  color:#CFFFDC


}
